@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    font-size: large;
}
.active{
    fill:#f2af00 !important;
    stroke:#ffffff;
}
.card-title{
    color: #ff4c4c;
}
.card-text{
    font-weight: 900;
}
.copyright {
    float:left;
}
.copyright > div {
    display:none;
}